{% extends "layout.html" %}

{% block content %}


<div dir="rtl">
    <h1> על הפרויקט</h1>
    <p> הפרויקט הינו במסגרת מגמת מדעי המחשב - מדעי הנתונים, בבית הספר תיכונט.</p>
    <p> אני ניר גריפל, תלמיד בכיתה י' לומד אצל גד לידור</p>
    <p>במסגרת הפרויקט איתרתי מאגרי מידע ברשת ובכוונתי לבנות סביבם אתר אינטרנט המאפשר גישה אל מאגרי המידע, ניתוח נתונים והצגתם בצורה נוחה ויפה שתאפשר למשתמשים לגשת למידע בצורה קלה יותר. האתר הולך לאפשר למשתמש לחקור את הנתונים בתחום שבחרתי שהוא סרטים ולנסות להגיע לתובנות מסויימות ומסקנות בעלות ערך.</p>
    <p>
        הפרוייקט יתבסס על המרכיבים הטכנולוגיים הבאים:
        * שפת פייתון
        * ספרית Pandas
        * תשתיית ה Flask לבניית שרת אינטרנט
    </p>
</div>
<style>
    body {
        background-color: #858a88a6;
        color: black;
    }
</style>
{% endblock %}
