{% extends "layout.html" %}

{% block content %}


<div class="Jumbotron">
  <h1> about the movie </h1>
</div>

<p>The project is part of the Computer Science - Tichonet school </p>
<p> I'm Nir Griffel, a 10th grade student studying at Gad Lidror </p>

<p>As part of the project, I located databases on the network and intend to build a website around them that allows access to the databases, data analysis and presentation in a convenient and beautiful way that will allow users to access the information more easily. The site is going to allow the user to explore the data in the field of my choice which is movies and try to get some valuable insights</p>

<style>
    body {
        background-color: #b8d4d1;
        color: black;
    }
</style>

{% endblock %}
