{% extends "layout.html" %}

{% block content %}

<div class="Jumbotron">
    <h1> Nir Griffel</h1>
    <p> E-mail: griffel.nir@gmail.com</p>
</div>

<img class="contain" src="static\\img\\MyImg.jpeg" width="590" height="370" align="left">



<style>
    body {
        
        background-image: url(static\\img\\background.jpeg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: white;

    }
    .contain {
        width: 30%
    }
</style>


{% endblock %}
