{% extends "layout.html" %}

{% block content %}

    <div class="Jumbotron">
        <h1> Watching a movie is one of the common pastimes! </h1>
    </div>
    <p>
        Nowadays watching movies has become a very popular thing and more and more films are being published. Today, film producers do not have a website that allows them to obtain statistics and factual data on films that have already been made. Why people rated this movie low-ranking and why this movie high-rated and whether a movie whose slightly higher financial investment would earn significantly higher income.
        In addition, there is currently no interface that allows viewers at home to choose the movie that is right for them, ie if they like comedy the site will show them the five best comedy rated by the user and also allow them to get a brief synopsis of the movie, users can also choose the movie length range Which suits them because there are those who like longer movies and some who like shorter ones.
    
        I brought two databases, one of which is included in the budget
        Received by the film and the other included his income.
        Both databases also contain the summary of the film, the number of votes, the final rating from 1 to 10, the length of the film in minutes, its genre, its time of departure, what age
        It is allowed to view it, its name and number in the list (not a rating list)
    </p>


<img src="https://images-na.ssl-images-amazon.com/images/I/81Oa75%2BxkjL._AC_SL1500_.jpg" style="width: 220px; height: 343px;">
<img src="https://www.seret.co.il/images/movies/Fences/Fences1.jpg" style="width: 220px; height: 343px;">
<img src="https://upload.wikimedia.org/wikipedia/he/d/dc/1917_%282019_film%29.jpg" style="width: 220px; height: 343px;">
<img src="https://upload.wikimedia.org/wikipedia/he/thumb/1/15/Goodfellas2.jpg/220px-Goodfellas2.jpg" style="width: 220px; height: 343px;">
<img src="https://upload.wikimedia.org/wikipedia/he/e/e3/%D7%A8%D7%A9%D7%99%D7%9E%D7%AA_%D7%A9%D7%99%D7%A0%D7%93%D7%9C%D7%A8_%D7%9B%D7%A8%D7%96%D7%94_%D7%A2%D7%91%D7%A8%D7%99%D7%AA.png" style="width: 220px; height: 343px;">


<table class="table table-bordered">
    <thead>
        <tr>
            <td> DataBase </td>
            <td> Link </td>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>Movie name and budget</td>
            <td> <a href="{{ url_for('dataSet1') }}">Link to DataBase</a></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Movie name and income</td>
            <td> <a href="{{ url_for('dataSet2') }}">Link to DataBase</a></td>
        </tr>
    </tbody>
</table>



<style>
    body {
        background-image: url(static\\img\\popcorn.jpeg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: white;
    }

    table {
        background-color: black;
        color: #6f5143;
    }
</style>

{% endblock %}
