{% extends "layout.html" %}


{% block content %}

<div class="jumbotron jumbotron-hebrew-calibri">
    <h1> A movie budget and income project</h1>

</div>

<p>By Nir Griffel</p>

<p>y project want to see if the movie budget is affecting the income of the film producers and also to allow people to recommend recommended films you come to their favorite genre</p>
<p>
    movies are one of the most popular recreation at leisure,

    In this project, I will try to see if there is a conecttion between the movie budget to the movie income.
    more over,
    i will give the users useful tool to choose a movie by their favorite genre based on the total viewer rating, including a summary of each of the five highest rated films
</p>




<img src="https://images-na.ssl-images-amazon.com/images/I/81Oa75%2BxkjL._AC_SL1500_.jpg" style="width: 220px; height: 343px;">
<img src="https://www.seret.co.il/images/movies/Fences/Fences1.jpg" style="width: 220px; height: 343px;">
<img src="https://upload.wikimedia.org/wikipedia/he/d/dc/1917_%282019_film%29.jpg" style="width: 220px; height: 343px;">
<img src="https://upload.wikimedia.org/wikipedia/he/thumb/1/15/Goodfellas2.jpg/220px-Goodfellas2.jpg" style="width: 220px; height: 343px;">
<img src="https://upload.wikimedia.org/wikipedia/he/e/e3/%D7%A8%D7%A9%D7%99%D7%9E%D7%AA_%D7%A9%D7%99%D7%A0%D7%93%D7%9C%D7%A8_%D7%9B%D7%A8%D7%96%D7%94_%D7%A2%D7%91%D7%A8%D7%99%D7%AA.png" style="width: 220px; height: 343px;">" style="width: 220px; height: 343px;">




<style>
    body {
        background-image: url(static\\img\\background.jpeg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: white;

    }
</style>

{% endblock %}
