{% extends "layout.html" %}


{% block content %}

<div class="jumbotron jumbotron-hebrew-calibri">
    <h1>My Web Project</h1>
</div>

<div class="row" dir="rtl">
    <div class="col-md-4" style="min-width: 1000px">
        <h2>פרויקט תקציבי והכנסות של סרטים</h2>
        <p>
            מאת ניר גריפל
        </p>
        <p>
            מטרת הפרויקט שלי לבדוק האם גובה תקציב הסרט משפיע על הרווח של מפיקי הסרט ובנוסף לאפשר לאנשים לקבל המלצה על סרטים מומלצים באתם לג'אנר האהוב עליהם.
        </p>
        <p>
            צפייה בסרטים היא אחת מפעילויות שעות הפנאי הפופולריות ביותר וכפועל יוצא יותר ויותר סרטים יוצאים לאור.

            בעבודה זאת אנסה לבדוק האם קייפ קשר בין תקציר הסרט לבין הכנסה שהניר ובדיורג הפופולריות שלו
            בנוסף אחתן כלי שימושי לצופים לבחוק סרט בז'אנר המועדף עליהם, בהתבסס על דירוג כלל הצופים, כולל תקציר על כל אחד מחמשת הסרטים שזכו לדירוג הגבוהה ביותר'
        </p>

        <marquee scrollamount="5"
                 direction="left"
                 behavior="scroll">
            <img src="https://upload.wikimedia.org/wikipedia/he/thumb/2/2e/%D7%A6%27%D7%90%D7%A8%D7%9C%D7%99_%D7%95%D7%97%D7%A6%D7%99.jpg/250px-%D7%A6%27%D7%90%D7%A8%D7%9C%D7%99_%D7%95%D7%97%D7%A6%D7%99.jpg" style="width: 220px; height: 343px;">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b0/Avatar-Teaser-Poster.jpg/220px-Avatar-Teaser-Poster.jpg" style="width: 220px; height: 343px;">
            <img src="https://upload.wikimedia.org/wikipedia/en/0/0d/Avengers_Endgame_poster.jpg" style="width: 220px; height: 343px;">
            <img src="https://upload.wikimedia.org/wikipedia/en/1/19/Titanic_%28Official_Film_Poster%29.png" style="width: 220px; height: 343px;">
            <img src="https://images-na.ssl-images-amazon.com/images/I/A1yhtTjLO%2BL._AC_SY679_.jpg" style="width: 220px; height: 343px;">
            <img src="https://resizing.flixster.com/0JU4kyqhaQTQE8HkErgY5xk81IQ=/fit-in/278x400/v1.bTsxMzE5MDI4NjtqOzE4Mzc3OzEyMDA7MTk0NDsyODgw" style="width: 220px; height: 343px;">
            <img src="https://regalcdn.azureedge.net/BadBoysforLife/HO00009996/TV_SmallPosterImage/20191125-090126975.jpg" style="width: 220px; height: 343px;">
            <img src="https://images.fandango.com/ImageRenderer/200/0/redesign/static/img/default_poster.png/0/images/masterrepository/Fandango/185800/Frozen25d92873c60c39.jpg" style="width: 220px; height: 343px;" />
            <img src="https://upload.wikimedia.org/wikipedia/he/3/3f/3375S2R-lg.jpg" style="width: 220px; height: 343px;">
            <img src="https://m.media-amazon.com/images/M/MV5BZmUyMDEyOTgtZmUwOS00NTdkLThlNzctNTM1ODQ4M2VhMjdhXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UX182_CR0,0,182,268_AL_.jpg" style="width: 220px; height: 343px;">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/46/Charlie_and_the_chocolate_factory_poster2.jpg/220px-Charlie_and_the_chocolate_factory_poster2.jpg" style="width: 220px; height: 343px;">
            <img src="https://upload.wikimedia.org/wikipedia/he/thumb/b/b3/Snuker_kraza.jpg/250px-Snuker_kraza.jpg" style="width: 220px; height: 343px;">
        </marquee>

    </div>
</div>
<style>
    body {
        background-color: #858a88a6;
        color: black;
    }
</style>

{% endblock %}
