{% extends "layoutlogin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2>{{ title }}</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for message in messages %}
<h3>{{ message[1] }}</h3>
<br />
    {% endfor %}
{% endif %}
{% endwith %}

<br />
<br />
<br />

<img class="contain" src="static\\img\\loginimage.jpeg" width="200" height="200" align="right">

<h1> Login </h1>
<h3> Please fill in this form to Login in to your account. </h3>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            {{ form.csrf_token }}
            {{ wtf.form_field(form.username)}}
            {% if form.username.errors %}
            <ul class="text-danger">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            {{ wtf.form_field(form.password)}}
            {% if form.password.errors %}
            <ul class="text-danger">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <input class="btn btn-primary" type="submit" value="submit">
        </form>
    </div>
</div>

<a href="{{ url_for('Register') }}">Create new account</a>


<style>
    body {
        background-image: url(static\\img\\background.jpeg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: white;
    }

    td, tr, table {
        font-size: 22px
    }

    h2 {
        position: relative;
        left: 450px;
    }

    .contain {
        width: 50%
    }
</style>
    {% endblock %}
