{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2>{{ title }}</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for message in messages %}
<h3>{{ message[1] }}</h3>
<br />
    {% endfor %}
{% endif %}
{% endwith %}

<br />
<br />
<br />

<div class="row">

    <div class="col-md-4">
        <form method="post">
            {{ form.csrf_token }}
            {{ wtf.form_field(form.genre)}}
            {{ wtf.form_field(form.minbudget)}}
            {{ wtf.form_field(form.maxbudget)}}
            <input class="btn btn-primary" type="submit" value="submit">
        </form>
    </div>
    <div class="col-md-8">
        <div class="row">
            <h4>The attitude between the movie budget to the movie income</h4>
            <img src={{ chart }} class="img-thumbnail" alt="not found">
        </div>
    </div>
</div>



<style>
    td, tr, table {
        font-size: 22px
    }

    h2 {
        position: relative;
        left: 450px;
    }

     body {
        
        background-image: url(static\\img\\background.jpeg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: black;
    }
</style>
    {% endblock %}
